= form_with(model: @item, local: true) do |f|
  .exhibition__box
    .exhibition__box__image
      .exhibition__box__image__form
        .exhibition__box__image__form__lavel
          出品画像
        .exhibition__box__image__form__required
          必須
      .exhibition__box__image__max
        最大10枚までアップロードできます
        .exhibition__box__image__max__camera
          %label{for: "image-file"}
            %i.fas.fa-camera#camera    
      .exhibition__box__image__upload
        = f.fields_for :item_images do |i|
          .exhibition__box__image__upload__sentence
            %p カメラをクリックしてファイルをアップロード
          .exhibition__box__image__upload__btn
            = i.file_field :image, type: 'file',  id: "image-file", name: "item[item_images_attributes][][image]"  

    .exhibition__box__image
      .exhibition__box__image__form
        .exhibition__box__image__form__lavel
          商品名
        .exhibition__box__image__form__required
          必須
      .exhibition__box__image__input
        = f.text_field :name, placeholder: '40文字まで', class:"exhibition__box__image__input--size",maxlength: "40"
      .exhibition__box__image__form
        .exhibition__box__image__form__lavel
          商品の説明
        .exhibition__box__image__form__required
          必須
      .exhibition__box__image__input
        = f.text_area :description, placeholder: "商品の説明（必須1000文字以内）\r\n(色、素材、重さ、定価、注意点など）\r\n\r\n例）2010年頃に1万円で購入したジャケットです。ライトグレーで傷はありませ\r\nん。あわせやすいのでおすすめです。", maxlength: "1000",class:"exhibition__box__image__input--text"
      .exhibition__box__image__count#textCount
        0/1000
    .exhibition__box__image
      .exhibition__box__image__details
        .exhibition__box__image__details__goods
          商品の詳細
        = icon 'far', 'question-circle', class:"exhibition__box__image__details__question"
      .exhibition__box__image__form
        .exhibition__box__image__form__lavel
          カテゴリー
        .exhibition__box__image__form__required
          必須
      .exhibition__box__image__select
        = f.select :category_id, options_for_select(@parents.map {|p| [p.name, p.id]}),{prompt:"選択してください"},{class:"exhibition__box__image__select--category", id:"catParent"}
        %iselect.exhibition__box__image__select__arrow.fas.fa-chevron-down.fa-lg
      .exhibition__box__image__select#selectChildren
      .exhibition__box__image__select#selectGrandChildren
      .exhibition__box__image__line
        .exhibition__box__image__line__bland
          サイズ
        .exhibition__box__image__line__any
          任意
      .exhibition__box__image__select
        = f.select :size_id, options_for_select(Size.all.map {|s| [s.name, s.id]}), {prompt: "-------"}, class:"exhibition__box__image__select--category"
        %iselect.exhibition__box__image__select__arrow.fas.fa-chevron-down.fa-lg
      .exhibition__box__image__line
        .exhibition__box__image__line__bland
          ブランド
        .exhibition__box__image__line__any
          任意
      .exhibition__box__image__input
        = f.text_field :brand, placeholder:'例）シャネル', class:"exhibition__box__image__input--size"
      .exhibition__box__image__form
        .exhibition__box__image__form__lavel
          商品の状態
        .exhibition__box__image__form__required
          必須
      .exhibition__box__image__select
        = f.select :condition_id, options_for_select(Condition.all.map {|c| [c.name, c.id]}), {prompt: "-------"}, class:"exhibition__box__image__select--category"
        %iselect.exhibition__box__image__select__arrow.fas.fa-chevron-down.fa-lg
    .exhibition__box__image
      .exhibition__box__image__details
        .exhibition__box__image__details__goods
          配送について
        = icon 'far', 'question-circle', class:"exhibition__box__image__details__question"
      .exhibition__box__image__carry
        .exhibition__box__image__carry__lavel
          配送料の負担
        .exhibition__box__image__carry__required
          必須
      .exhibition__box__image__select
        = f.select :delivery_fee_id, options_for_select(DeliveryFee.all.map {|d| [d.name, d.id]}), {}, class:"exhibition__box__image__select--category"
        %iselect.exhibition__box__image__select__arrow.fas.fa-chevron-down.fa-lg
      .exhibition__box__image__carry
        .exhibition__box__image__carry__lavel
          配送の方法
        .exhibition__box__image__carry__required
          必須
      .exhibition__box__image__select
        = f.select :delivery_method_id, options_for_select(DeliveryMethod.all.map {|d| [d.name, d.id]}), {}, class:"exhibition__box__image__select--category"
        %iselect.exhibition__box__image__select__arrow.fas.fa-chevron-down.fa-lg
      .exhibition__box__image__carry
        .exhibition__box__image__carry__lavel
          発送元の地域
        .exhibition__box__image__carry__required
          必須
      .exhibition__box__image__select
        = f.select :delivery_from_id, options_for_select(DeliveryFrom.all.map {|pr| [pr.name, pr.id]}), {}, class:"exhibition__box__image__select--category"
        %iselect.exhibition__box__image__select__arrow.fas.fa-chevron-down.fa-lg
      .exhibition__box__image__carry
        .exhibition__box__image__carry__lavel
          発送までの日数
        .exhibition__box__image__carry__required
          必須
      .exhibition__box__image__select
        = f.select :delivery_day_id, options_for_select(DeliveryDay.all.map {|d| [d.name, d.id]}), {}, class:"exhibition__box__image__select--category"
        %iselect.exhibition__box__image__select__arrow.fas.fa-chevron-down.fa-lg
    .exhibition__box__image
      .exhibition__box__image__details
        .exhibition__box__image__details__goods
          価格（¥300〜¥9,999,999）
        = icon 'far', 'question-circle', class:"exhibition__box__image__details__question"
      .exhibition__box__image__square
        .exhibition__box__image__square__lavel
          販売価格
        .exhibition__box__image__square__required
          必須
        .exhibition__box__image__square__input
          = f.number_field :price, placeholder: "0", class: "exhibition__box__image__square__input--size" 
      .exhibition__box__image__cash
        .exhibition__box__image__cash__fee
          販売手数料（10%）
        .exhibition__box__image__cash__rod#serviceCharge
          0円
      .exhibition__box__image__profit
        .exhibition__box__image__profit__fee
          販売利益
        .exhibition__box__image__profit__rod#profit
          0円
      .exhibition__box__image__button
        = f.submit :"#{submitBtn}", class:"exhibition__box__image__button--do"
        %button{class: "exhibition__box__image__button--draft", type: "submit"}
          下書きに保存
      .exhibition__box__image__back
        =link_to "もどる"
      .exhibition__box__image__note
        %p 
          禁止されている
          =link_to "行為"
          及び
          =link_to "出品物"
          を必ずご確認ください。
          =link_to "偽ブランド品"
          や
          =link_to "盗品物"
          などの販売は犯罪であり、法律により処罰される可能性があります。また、出品をもちまして
          =link_to "加盟店規約"
          に同意したことになります。  
  .exhibition__footer     
    .exhibition__footer__box
      .exhibition__footer__box__policy
        =link_to "プライバシーポリシー"
      .exhibition__footer__box__terms
        =link_to "メルカリ利用規約"
      .exhibition__footer__box__notation
        =link_to "特定商取引に関する表記"
    = image_tag 'logo.png', size:"140x50", class:"exhibition__footer__frima"   
    %p ©️FURIMA



