.sell-page
  .sell-page__box
    .form
      = form_with(model: @item, local: true) do |form|
        = form.label "商品名"
        = form.text_field :name, class: "item_name"
        = form.label "商品の説明"
        = form.text_area :description,  class: "item_description"
        = form.label "カテゴリー"
        = form.collection_select :category_id, Category.all, :id, :name, prompt: "選択してください"
        = form.label "ブランド"
        = form.text_field :brand, class: "item_brand", placeholder: "例)シャネル"
        = form.label "サイズ"
        = form.collection_select :size_id, Size.all, :id, :name, prompt: "選択してください"
        = form.label "商品の状態"
        = form.collection_select :condition_id, Condition.all, :id, :name, prompt: "選択してください"
        = form.label "配送料の負担"
        = form.collection_select :delivery_fee_id, DeliveryFee.all, :id, :name, prompt: "選択してください"
        = form.label "配送の方法"
        = form.collection_select :delivery_method_id, DeliveryMethod.all, :id, :name, prompt: "選択してください"
        = form.label "発送元の地域"
        = form.collection_select :prefecture_id, Prefecture.all, :id, :name, prompt: "選択してください"
        = form.label "発送までの日数"
        = form.collection_select :delivery_day_id, DeliveryDay.all, :id, :name, prompt: "選択してください"
        = form.label "販売価格"
        = form.text_field :price, class: "item_price"
        = form.submit "出品する"
        
