%main.main
  %section.main-picture
    .container
      %h2 人生を変えるフリマアプリ
      %p
        FURIMAはだれでもかんたんに出品・購入できる
        %br>/
        フリマアプリです。
      .banner__inner__btn
        %a= image_tag 'app-store.svg'
        %a= image_tag 'google-play.svg'
  %section.main-introduction
    %h2.section-title FURIMAが選ばれる3つの理由
    %ul.reason-lists
      %li.reason-list
        .list--picture
          = image_tag 'pict-reason-01.jpg'
        %h2.list--title
          %span.title--green> 3分
          ですぐに出品
        %p.list-description スマホで入力するだけで簡単に出品できる！
      %li.reason-list
        .list--picture
          = image_tag 'pict-reason-02.jpg'
        %h2.list--title
          %span.title--green> シンプル
          で使いやすい
        %p.list-description めんどくさい入力は必要なく、検索も購入もスムーズ！
      %li.reason-list
        .list--picture
          = image_tag 'pict-reason-03.jpg'
        %h2.list--title
          手数料
          %span.title--green 業界最安
        %p.list-description 最大3%でお得に出品&amp;購入！
  %section.main-dl-link
  %section.main-features
    %h2.section__title FURIMAの特徴
    .feature-items
      %section.feature-item
        %figure.item__image
          = image_tag 'icon-01.png'
        %h3.item__head
          簡単に売り買いできる
        %p.item__text
          スマホひとつで、いつでもどこでも簡単に出品、購入が可能！
      %section.feature-item
        %figure.item__image
          = image_tag 'icon-03.png'
        %h3.item__head
          売上金は即日振込みに対応
        %p.item__text
          午前9時までに振込を依頼いただければ、翌日に指定の口座に入金いたします！
      %section.feature-item
        %figure.item__image
          = image_tag 'icon-04.png'
        %h3.item__head
          様々な支払いに対応
        %p.item__text
          お支払いは、クレジットカードだけでなく、ポイントや売上金など多彩な方法があります。
  %section.main-pickup-container
    %h2.pickup__title
      ピックアップカテゴリー
    .item-box
      %a
        %h2.box-head 新規投稿商品
      .item-lists
        .item-list
          = image_tag 'a007.png'
        .item-list
          = image_tag 'a004.png'
        .item-list
          = image_tag 'a001.png'
  %section.main-pickup-container
%aside.banner
  .banner__inner
    %h2.banner__inner__title だれでもかんたん、人生を変えるフリマアプリ
    %p.banner__inner__text 今すぐ無料ダウンロード！
    .banner__inner__icon
      = image_tag 'app-store.svg', size:"185x53"
      = image_tag 'google-play.svg', size:"185x53"