- breadcrumb :items, @items
%main.index-main
  %section.index-items
    %h2.index-items__title
      人気の商品一覧
    .index-items__box
      = link_to category_path(1), class: "box__head--link" do
        %h3.index-items__box--font レディース新着アイテム
      .index-items__lists
        -@ladys.each do |lady|
          .index-items__list
            = link_to item_path(lady.id),class: "index-item__list--link" do
              .index-items__image
                = image_tag "#{lady.item_images[0].image}",class: "index-items__image--size"
                .index-items__price
                  = "¥ #{lady.price}"
              .index-items__body
                %p.index-items__name 
                  = lady.description
            - if lady.is_deleted.present?
              .index-items__sold
                .index-items__sold--position
                  %P SOLD
          
    .index-items__box
      = link_to category_path(2), class: "box__head--link" do
        %h3.index-items__box--font メンズ新着アイテム
      .index-items__lists
        -@mens.each do |men|
          .index-items__list
            = link_to item_path(men.id),class: "index-item__list--link" do
              .index-items__image
                = image_tag "#{men.item_images[0].image}",class: "index-items__image--size"
                .index-items__price
                  = "¥ #{men.price}"
              .index-items__body
                %p.index-items__name 
                  = men.description
            - if men.is_deleted.present?
              .index-items__sold
                .index-items__sold--position
                  %p SOLD
    
    .index-items__box
      = link_to category_path(8), class: "box__head--link" do
        %h3.index-items__box--font 家電・スマホ・カメラ新着アイテム
      .index-items__lists
        -@electricals.each do |ele|
          .index-items__list
            = link_to item_path(ele.id),class: "index-item__list--link" do
              .index-items__image
                = image_tag "#{ele.item_images[0].image}",class: "index-items__image--size"
                .index-items__price
                  = "¥ #{ele.price}"
              .index-items__body
                %p.index-items__name 
                  = ele.description
            - if ele.is_deleted.present?
              .index-items__sold
                .index-items__sold--position
                  %p SOLD

    .index-items__box
      = link_to category_path(6), class: "box__head--link" do
        %h3.index-items__box--font おもちゃ・ホビー・グッズ新着アイテム
      .index-items__lists
        -@hobbys.each do |hobby|
          .index-items__list
            = link_to item_path(hobby.id),class: "index-item__list--link" do
              .index-items__image
                = image_tag "#{hobby.item_images[0].image}",class: "index-items__image--size"
                .index-items__price
                  = "¥ #{hobby.price}"
              .index-items__body
                %p.index-items__name 
                  = hobby.description
            - if hobby.is_deleted.present?
              .index-items__sold
                .index-items__sold--position
                  %p SOLD