%nav.breadCrums
  %ul
    %li= link_to "FURIMA", root_path
    %li
      %i.fa.fa-angle-right
    %li= link_to "レディース"
    %li
      %i.fa.fa-angle-right
    %li= link_to "Tシャツ/カットソー(半袖/袖なし)"
    %li
      %i.fa.fa-angle-right
    %li
      %p Product1

.main
  .content
    .top-content
      .item-box
        %h2.item-box__name= @item.name
        .item-box__picture
          %ul
            %li
              = image_tag "https://s3-ap-northeast-1.amazonaws.com/mercarimaster/uploads/captured_image/content/7/a001.png", id:"bigPic"
              %ul
                %li
                  = image_tag "https://s3-ap-northeast-1.amazonaws.com/mercarimaster/uploads/captured_image/content/7/a001.png", class:"thumb"
                %li
                  = image_tag "https://s3-ap-northeast-1.amazonaws.com/mercarimaster/uploads/captured_image/content/8/a002.png",class:"thumb"
                %li
                  = image_tag "https://s3-ap-northeast-1.amazonaws.com/mercarimaster/uploads/captured_image/content/9/a003.png", class:"thumb"
        #modal.displayNone
          .iconroom
            = icon('fa', 'times-circle' '', id:"close")
          = image_tag "https://s3-ap-northeast-1.amazonaws.com/mercarimaster/uploads/captured_image/content/7/a001.png",size:"700x600", id:"modalImage"
        .item-box__price
          %span= "#{@item.price.to_s(:delimited)}円"
          .item-box__price__extra
            %span
            (税込)
            %span
            送料込み
        .item-box__description
          %p=@item.description
        .item-box__table
          %table
            %tbody
              %tr
                %th 出品者
                %td= @item.user.nickname
              %tr
                %th カテゴリー
                %td
                  = link_to @item.category.root.name, category_path(@item.category.root.id)
                  %br/
                  = link_to @item.category.parent.name, category_path(@item.category.parent.id)
                  %br/
                  = link_to @item.category.name, category_path(@item.category.id)
              %tr
                %th ブランド
                %td= @item.bland
              %tr
                %th 商品のサイズ
                %td= @item.size
              %tr
                %th 商品の状態
                %td=@item.condition
              %tr
                %th 配送料の負担
                %td=@item.delivery_fee
              %tr
                %th 発送元の地域
                %td= link_to "青森県", "#"
              %tr
                %th 発送日の目安
                %td=@item.delivery_day
        .additional-area
          %ul
            %li.like-btn
              %i.fa.fa-star
              %p お気に入り0
          %ul
            %li.report-btn
              %i.fa.fa-flag
              = link_to "不適切な商品の通報", "#"
      .comment-box
        .form
          %input{type: "text", class: "comment-area"}
            %p.caution-message
              相手のことを考え丁寧なコメントを心がけましょう。
              %br
              不快な言葉遣いなどは利用制限や退会処分となることがあります。
          %button.comment-btn{name: "button", type: "submit"}
            %i.fa.fa-comment
            コメントする
    %ul.links
      %li
        %i.fa.fa-angle-left
        = link_to "前の商品", item_path(@item.id - 1)
      %li
        = link_to "次の商品", item_path(@item.id + 1) 
        %i.fa.fa-angle-right
    .related-items
      = link_to "#{@item.category.root.name}をもっと見る", category_path(@item.category.root.id)
      .item-lists

