%nav.breadCrums
  %ul
    %li= link_to "FURIMA", root_path
    %li
      %i.fa.fa-angle-right
    %li= link_to "レディース"
    %li
      %i.fa.fa-angle-right
    %li= link_to "Tシャツ/カットソー(半袖/袖なし)"
    %li
      %i.fa.fa-angle-right
    %li
      %p Product1

.main
  .content
    .top-content
      .item-box
        %h2.item-box__name
          Product1
        .item-box__picture
          %ul
            %li
              = image_tag "https://s3-ap-northeast-1.amazonaws.com/mercarimaster/uploads/captured_image/content/7/a001.png"
              %ul
                %li
                  = image_tag "https://s3-ap-northeast-1.amazonaws.com/mercarimaster/uploads/captured_image/content/7/a001.png"
                %li
                  = image_tag "https://s3-ap-northeast-1.amazonaws.com/mercarimaster/uploads/captured_image/content/8/a002.png"
                %li
                  = image_tag "https://s3-ap-northeast-1.amazonaws.com/mercarimaster/uploads/captured_image/content/9/a003.png"
        .item-box__price
          %span
            ¥10000
          .item-box__price__extra
            %span
            (税込)
            %span
            送料込み
        .item-box__description
          %p ここに商品の説明を長々と説明する。親譲りの無鉄砲で小供の時から損ばかりしている。 小学校に居る時分学校の二階から飛び降りて一週間ほど腰を抜かした事がある。 なぜそんな無闇をしたと聞く人があるかも知れぬ。別段深い理由でもない。新築の二階から首を出していたら、同級生の一人が冗談に、いくら威張っても、そこから飛び降りる事は出来まい。 弱虫やーい。と囃したからである。小使に負ぶさって帰って来た時、おやじが大きな眼をして二階ぐらいから飛び降りて腰
        .item-box__table
          %table
            %tbody
              %tr
                %th 出品者
                %td hoge
              %tr
                %th カテゴリー
                %td
                  = link_to "レディース", "#"
                  %br/
                  = link_to "トップス", "#"
                  %br/
                  = link_to "Tシャツ/カットソー(半袖/袖なし)", "#"
              %tr
                %th ブランド
                %td
              %tr
                %th 商品のサイズ
                %td
              %tr
                %th 商品の状態
                %td 新品/未使用
              %tr
                %th 配送料の負担
                %td 送料込み（出品者負担）
              %tr
                %th 発送元の地域
                %td
                  = link_to "青森県", "#"
              %tr
                %th 発送日の目安
                %td 1-2日で発送
        .additional-area
          %ul
            %li.like-btn
              %i.fa.fa-star
              %p お気に入り0
          %ul
            %li.report-btn
              %i.fa.fa-flag
              = link_to "不適切な商品の通報", "#"
      .comment-box
        .form
          %input{type: "text", class: "comment-area"}
            %p.caution-message
              相手のことを考え丁寧なコメントを心がけましょう。
              %br
              不快な言葉遣いなどは利用制限や退会処分となることがあります。
          %button.comment-btn{name: "button", type: "submit"}
            %i.fa.fa-comment
            コメントする
    %ul.links
      %li
        %i.fa.fa-angle-left
        = link_to "前の商品"
      %li
        = link_to "後ろの商品" 
        %i.fa.fa-angle-right
    .related-items
      = link_to "レディースをもっと見る"
      .item-lists