%nav.breadCrums
  %ul
    %li= link_to "FURIMA", root_path
    %li
      %i.fa.fa-angle-right
    %li= link_to "レディース"
    %li
      %i.fa.fa-angle-right
    %li= link_to "Tシャツ/カットソー(半袖/袖なし)"
    %li
      %i.fa.fa-angle-right
    %li
      %P Product1

.main
  .content
    .top-content
      .item-box
        %h2.item-box__name
        .item-box__picture
          %ul
            %li
              %img{src: "https://s3-ap-northeast-1.amazonaws.com/mercarimaster/uploads/captured_image/content/7/a001.png"}
          %ul
            %li
              %img{src: "https://s3-ap-northeast-1.amazonaws.com/mercarimaster/uploads/captured_image/content/7/a001.png"}
          %ul
            %li
              %img{src: "https://s3-ap-northeast-1.amazonaws.com/mercarimaster/uploads/captured_image/content/8/a002.png"}
          %ul
            %li
              %img{src: "https://s3-ap-northeast-1.amazonaws.com/mercarimaster/uploads/captured_image/content/7/a001.png"}
          
          

        .item-box__price
        .item-box__description
        .item-box__table
          %table
            %tbody
              %tr
                %th 出品者
                %td hoge
              %tr
                %th カテゴリー
                %td
                  %a{href: "#"} レディース
                  %br/
                  %a{href: "#"} トップス
                  %br/
                  %a{href: "#"} Tシャツ/カットソー(半袖/袖なし)
              %tr
                %th ブランド
                %td
              %tr
                %th 商品のサイズ
                %td
              %tr
                %th 商品の状態
                %td 新品/未使用
              %tr
                %th 配送料の負担
                %td 送料込み（出品者負担）
              %tr
                %th 発送元の地域
                %td
                  %a{href: "#"} 青森県
              %tr
                %th 発送日の目安
                %td 1-2日で発送
        .additional-area
          %ul.favorite
            %li.like-btn
              %i.fa.fa-star
              %P お気に入り
          %ul.report
            %li.report-btn
              %a{href: "#"} 不適切な商品の通報
      .comment-box
      .form
        %input{type: "textarea"}
        %p.caution-message
          相手のことを考え丁寧なコメントを心がけましょう。
          %br
          不快な言葉遣いなどは利用制限や退会処分となることがあります。
        %input{type: "submit", value: "コメントする"}
          %i.fa.fa-comment
          



    %ul.links
      %li
        = link_to "前の商品"
        %i.fa.fa-angle-left
      %li
        = link_to "後ろの商品"
        %i.fa.fa-angle-left
    .related-items
      = link_to "レディースをもっと見る"
    .item-lists