= render partial:'modules/notification'
- breadcrumb :item, @item
.main
  .content
    .top-content
      .item-box
        %h2.item-box__name= @item.name
        .item-box__picture
          - if @item.is_deleted.present?
            .item-box__sold
              .item-box__sold--position
                %p SOLD 
                %p.item-box__sold--center OUT
          - else
            .item-box__sell
              .item-box__sell--position
                %p NOW ON SALE!
          %ul
            %li
              = image_tag "#{@image.image}", id:"bigPic"
              %ul
                - @item.item_images.each do |item|
                  %li
                    = image_tag "#{item.image}", class:"thumb"
        #modal.displayNone
          .iconroom
            = icon('fa', 'times-circle' '', id:"close")
          = image_tag "",size:"700x600", id:"modalImage"
        .item-box__price
          %span= "#{@item.price.to_s(:delimited)}円"
          .item-box__price__extra
            %span
            (税込)
            %span
            送料込み
        .item-box__description
          %p=@item.description
        .item-box__table
          %table
            %tbody
              %tr
                %th 出品者
                %td= @item.user.nickname
              %tr
                %th カテゴリー
                %td
                  - if @item.category.depth == 0
                    = link_to @item.category.name, category_path(@item.category.id)
                  - elsif @item.category.depth == 1
                    = link_to @item.category.root&.name, category_path(@item.category.root&.id)
                    %br/
                    = link_to @item.category.name, category_path(@item.cateogry.id)
                  - else
                    = link_to @item.category.root&.name, category_path(@item.category.root&.id)
                    %br/
                    = link_to @item.category.parent&.name, category_path(@item.category.parent&.id)
                    %br/
                    = link_to @item.category.name, category_path(@item.category.id)
              %tr
                %th ブランド
                %td= @item.brand
              %tr
                %th 商品のサイズ
                - if @item.size.present?
                  %td= @item.size.name
              %tr
                %th 商品の状態
                %td= @item.condition.name
              %tr
                %th 配送料の負担
                %td= @item.delivery_fee.name
              %tr
                %th 発送元の地域
                %td= @item.delivery_from.name
              %tr
                %th 発送日の目安
                %td= @item.delivery_day.name
                
        .item-box__btn
          - unless @item.is_deleted
            - if current_user&.id == @item.user_id
              = link_to edit_item_path do
                %button.item-box__btn__edit 編集
              = link_to item_path(@item), method: :delete do
                %button.item-box__btn__delete 削除
            - elsif user_signed_in?
              = link_to buypage_item_path(@item), data: {"turbolinks" => false} do
                %button.item-box__btn__purchace 購入する
            - else 
              = link_to new_user_session_path do
                %button.item-box__btn__purchace 購入する

        .additional-area
          %ul
            %div{id: "like_button_#{@item.id}"}
              = render partial: "favorites/favorite", locals: { item: @item }

          %ul
            %li.report-btn
              %i.fa.fa-flag
              = link_to "不適切な商品の通報", "#"
      .comment-box
        .form
          %input{type: "text", class: "comment-area"}
            %p.caution-message
              相手のことを考え丁寧なコメントを心がけましょう。
              %br
              不快な言葉遣いなどは利用制限や退会処分となることがあります。
          %button.comment-btn{name: "button", type: "submit"}
            %i.fa.fa-comment
            コメントする

    %ul.links
      %li
        - if @prevItem
          %i.fa.fa-angle-left
          = link_to "前の商品", item_path(@prevItem)
      %li
        - if @nextItem
          = link_to "次の商品", item_path(@nextItem) 
          %i.fa.fa-angle-right
    .related-items
      = link_to "#{@item.category.root.name}をもっと見る", category_path(@item.category.root.id)
      .item-lists