%main.index-main
  %section.index-items
    %h2.index-items__title
      人気の商品一覧
    .index-items__box
      = link_to "#", class: "box__head--link" do
        %h3.index-items__box--font レディース新着アイテム
      .index-items__lists
        .index-items__list
          .index-items__image
            = image_tag "https://static.mercdn.net/thumb/photos/m34781506725_1.jpg?1587707032",class: "index-items__image--size"
            .index-items__price
              ¥ 30000円
          .index-items__body
            %p.index-items__name 
              product3

    .index-items__box
      = link_to "#", class: "box__head--link" do
        %h3.index-items__box--font メンズ新着アイテム
      .index-items__lists
        .index-items__list
          .index-items__image
            = image_tag "https://static.mercdn.net/thumb/photos/m34781506725_1.jpg?1587707032",class: "index-items__image--size"
            .index-items__price
              ¥ 30000円
          .index-items__body
            %p.index-items__name 
              product3
    
    .index-items__box
      = link_to "#", class: "box__head--link" do
        %h3.index-items__box--font 家電・スマホ・カメラ新着アイテム
      .index-items__lists
        .index-items__list
          .index-items__image
            = image_tag "https://static.mercdn.net/thumb/photos/m34781506725_1.jpg?1587707032",class: "index-items__image--size"
            .index-items__price
              ¥ 30000円
          .index-items__body
            %p.index-items__name 
              product3

    .index-items__box
      = link_to "#", class: "box__head--link" do
        %h3.index-items__box--font おもちゃ・ホビー・グッズ新着アイテム
      .index-items__lists
        .index-items__list
          .index-items__image
            = image_tag "https://static.mercdn.net/thumb/photos/m34781506725_1.jpg?1587707032",class: "index-items__image--size"
            .index-items__price
              ¥ 30000円
          .index-items__body
            %p.index-items__name 
              product3
        
        
  